html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
html body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/wp4094503.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.75);
  padding: 5px;
}
header #logo {
  border: 1px solid black;
  width: 70%;
  margin: auto;
  height: 4em;
  padding: 3px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header #logo a {
  height: 100%;
  border: 1px solid black;
  width: 30%;
  display: flex;
  justify-content: center;
}
header #logo a img {
  border: 1px solid black;
  width: 100%;
  background-size: contain;
  height: 100%;
}
header #logo h3 {
  margin-left: 30px;
  font-family: cursive;
  color: greenyellow;
}
header nav {
  width: 100%;
  margin-top: 0.8em;
  padding: 2px;
}
header nav ol {
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: center;
}
header nav ol li {
  margin-left: 1.5em;
}
header nav ol li a {
  color: #e5e7eb;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 0.6em;
}
header nav ol li a:hover {
  border: 2px solid white;
  background-color: rgba(74, 70, 70, 0.756);
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}
header nav ol #action {
  margin-left: 5em;
  display: flex;
  padding: 3px;
  align-items: center;
  justify-content: space-between;
  float: right;
}
header nav ol #action a {
  margin-left: 0.5em;
  color: #e5e7eb;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 0.6em;
}
header nav ol #action a:hover {
  border: 2px solid white;
  background-color: rgba(74, 70, 70, 0.756);
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}
header nav:hover {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

main {
  margin-top: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #section1 {
  width: 80vw;
  padding: 1em;
  margin: auto;
  display: grid;
  gap: 7em;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-columns: repeat(3, minmax(0, 1fr));
}
main #section1 a {
  width: 140px;
  height: 140px;
  padding: 0.5em;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
}
main #section1 a img {
  width: 90%;
  height: 70%;
  margin-left: 5px;
  margin-top: 5px;
}
main #section1 a h3 {
  width: 90%;
  margin: auto;
  text-align: center;
}
main #section1 a:hover {
  border: 1px solid white;
  color: black;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transform: translateY(-10px);
  scale: 1.1;
  box-shadow: 0px 0px 20px 0px black;
}
main #section1 a:hover h3 {
  color: #e5e7eb;
}
main #section2 {
  width: 80vw;
  margin: auto;
  margin-top: 30vh;
  margin-bottom: 10vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
main #section2 #thti {
  width: 80vw;
  height: 1.5em;
  margin: auto;
  text-align: center;
  padding: 3em;
}
main #section2 #thti h1 {
  color: rgb(25, 195, 25);
  font-family: cursive;
  font-weight: 500;
}
main #section2 #thti h1:hover {
  scale: 1.1;
  font-weight: bolder;
}
main #section2 #thti_storie {
  width: 90%;
  margin: auto;
  margin-top: 5vh;
}
main #section2:hover {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: white;
}

footer {
  height: 50vh;
  width: 100%;
  border-top: 2px solid black;
  background-color: rgb(76, 69, 69);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #pied1, footer #pied2 {
  width: 30vw;
  display: flex;
  justify-content: center;
}
footer #pied_centre {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 85%;
}
footer #pied_centre ol {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #pied_centre ol li {
  width: 25%;
  margin-right: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1px;
}
footer #pied_centre ol li a {
  width: 100%;
  height: 100%;
}
footer #pied_centre ol li a img {
  width: 40px;
  height: 40px;
  margin: auto;
}/*# sourceMappingURL=index.css.map */